<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Patient</title>
    <!--        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>-->
    <link rel="stylesheet" th:href="@{/css/styl.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>

</head>

<body>

<!-- menu section -->

<section id="menu">
    <div class="logo">
        <img src="" alt="">
        <h2>DOCTORS-AT-HOME</h2>
        <div class="online">
            <span class="span" th:text="${#request.userPrincipal.principal.fullName}"></span>
            <span class="green"></span>
        </div>
    </div>

    <div class="items" style="margin-top: 70px;">

        <ul>
            <li>
                <a th:href="@{/dashboard}">
                    <img th:src="@{/images/dashboard.png}" alt="">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a th:href="@{/personnels}">
                    <img th:src="@{/images/patient.png}" alt="">
                    <span>Personnel</span>
                </a>
            </li>
            <li>
                <a th:href="@{/categories}">
                    <img th:src="@{/images/categorize.png}" alt="">
                    <span>Categorie</span>
                </a>
            </li>
            <li>
                <a th:href="@{/services}">
                    <img th:src="@{/images/help.png}" alt="">
                    <span>Service</span>
                </a>
            </li>
            <li>
                <a th:href="@{/patients}">
                    <img th:src="@{/images/personal.png}" alt="">
                    <span>Patient</span>
                </a>
            </li>
            <li>
                <a th:href="@{/dossiers}">
                    <img th:src="@{/images/folder0.png}" alt="">
                    <span>Dossier</span>
                </a>
            </li>
            <li>
                <a th:href="@{/affectations}">
                    <img th:src="@{/images/documents.png}" alt="">
                    <span>Affectation</span>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- interface section -->

<section id="interface">
    <div class="navigation" >
        <div class="nav1">
            <div id="menu-btn">
                <img th:src="@{/images/menu.png}" alt="" class="i">
            </div>
            <div class="search">
                <img th:src="@{/images/melodis.jpg}" alt="">
                <!--                <input type="text" placeholder="Search">-->
            </div>
        </div>

        <!-- profile -->
        <div class="profile">
            <img th:src="@{/images/bell.png}" alt="" class="i">
            <img id="logout" th:src="@{/images/administrator.png}" alt="" class="i">
            <div id="decon">
                <ul>
                    <li th:text="${#request.userPrincipal.principal.fullName}"></li>
                    <li class="dropdown-divider"></li>
                    <li><a th:href="@{/}">deconexion</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--    links section-->
    <div class="liens" style="margin: 90px 15px 30px 15px;">
        <a th:href="@{/affectations}" class="btn btn-primary btn-lg " tabindex="-1" role="button" >
            <img th:src="@{/images/list.png}"> Tous les affectations
        </a>
    </div>
    <!-- form section -->

    <div class="formulaire" style="margin: 3% 15% 8% 15%;"  >
        <h1 class="text-center mb-5">Affecter un service</h1>
        <h2>Dossier No<span th:text="${dossier.id}"></span> de<span th:text="${dossier.patient.nom}"></span> </h2>
        <form class="row g-3 d-block" th:action="@{/affectation_dossier}" method="post" th:object="${affectation}"
              style="background: beige;
            padding: 10px;">

            <input type="hidden" th:value="${affectation.id}" th:field="*{id}">
            <div class="col-md-6">
                <label for="inputDebut" class="form-label">Date Debut</label>
                <input type="datetime-local" class="form-control" id="inputDebut" th:field="*{date_debut}">
            </div>
            <div class="col-md-6">
                <label for="inputFin" class="form-label">Date Fin</label>
                <input type="datetime-local" class="form-control" id="inputFin" th:field="*{date_fin}">
            </div>


            <div class="col-md-6">
                <label for="inputDossier" class="form-label">Dossier</label>
                <input   th:field="*{dossier}" th:value="${dossier}">
<!--                <select th:field="*{dossier}" id="inputDossier">-->
<!--                    <th:block th:each="dossier : ${dossiers}">-->
<!--                        <option th:value="${dossier.id}">[[${dossier.patient.nom}]]</option>-->
<!--                    </th:block>-->
<!--                </select>-->
            </div>
            <div class="col-md-6">
                <label for="inputService" class="form-label">Service</label>
                <select th:field="*{service}" id="inputService">
                    <th:block th:each="service : ${services}">
                        <option th:value="${service.id}">[[${service.nom}]]</option>
                    </th:block>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputPersonel" class="form-label">Personnel Medical</label>
                <select th:field="*{personnelMedical}" id="inputPersonel">
                    <th:block th:each="personnel : ${personnels}">
                        <option th:value="${personnel.id}">[[${personnel.nom}]]</option>
                    </th:block>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script th:src="@{/js/index.js}"></script>

</body>
</html>