<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Patient</title>
    <!--        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>-->
    <link rel="stylesheet" th:href="@{/css/styl.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
</head>

<body>

<!-- menu section -->

<section id="menu">
    <div class="logo">
        <img src="" alt="">
        <h2>DoctorSarl</h2>
    </div>

    <div class="items" style="margin-top: 70px;">
        <li>
            <img th:src="@{/images/home_24px.png}" alt="" class="i"><a href="#" style="font-size: 22px;">Accueil</a>
        </li>
        <li>
            <img th:src="@{/images/dashboard.png}" alt="" class="i"><a href="#" style="font-size: 22px;">Dashboard</a>
        </li>
        <li>
            <img th:src="@{/images/patient.png}" alt="" class="i"><a th:href="@{/personnels}" style="font-size: 22px;">Personnel</a>
        </li>
        <li>
            <img th:src="@{/images/personal.png}" alt="" class="i"><a th:href="@{/categories}" style="font-size: 22px;">Categorie</a>
        </li>
        <li>
            <img th:src="@{/images/help.png}" alt="" class="i"><a th:href="@{/services}" style="font-size: 22px;">Service</a></i>
        </li>
        <li>
            <img th:src="@{/images/categorize.png}" alt="" class="i"><a th:href="@{/patients}" style="font-size: 22px;">Patient</a>
        </li>
        <li>
            <img th:src="@{/images/documents.png}" alt="" class="i"><a th:href="@{/dossiers}" style="font-size: 22px;">Dossier</a>
        </li>
        <li>
            <img th:src="@{/images/documents.png}" alt="" class="i"><a th:href="@{/affectations}" style="font-size: 22px;">Affectation</a>
        </li>
    </div>
</section>

<!-- interface section -->

<section id="interface">
    <div class="navigation" >
        <div class="nav1">
            <div id="menu-btn">
                <img th:src="@{/images/menu.png}" alt="" class="i">
            </div>
            <div class="search">
                <a href="#"><img th:src="@{/images/search.png}" alt="" class="i"></a>
                <input type="text" placeholder="Search">
            </div>
        </div>

        <!-- profile -->
        <div class="profile">
            <img th:src="@{/images/bell.png}" alt="" class="i">
            <img th:src="@{/images/administrator.png}" alt="" class="i">
        </div>
    </div>

    <!--    links section-->
    <div class="liens" style="margin: 90px 15px 30px 15px;">
        <a th:href="@{/affectations}" class="btn btn-primary btn-lg " tabindex="-1" role="button" >
            <img th:src="@{/images/list.png}"> Tous les affections
        </a>
    </div>

    <div class="formulaire" style="margin: 3% 15% 8% 15%;">
        <h1 class="text-center mb-5" th:text=" 'Affectation #' +${affectation.id}"> </h1>

        <div class="detail_dossier my-5 mx-5">
            <p>
                <span class="fw-bold mx-5">Date debut : </span>
                <span th:text="${affectation.date_debut}"></span><br>
                <span class="fw-bold mx-5">Date de fin : </span>
                <span th:text="${affectation.date_fin}"></span><br>
                <span class="fw-bold mx-5">Etat : </span>
                <span th:text="${affectation.etat}"></span><br>
                <span class="fw-bold mx-5">Description : </span>
                <span th:text="${affectation.commentaire}"></span>
            </p>

            <p>
                <span class="fw-bold mx-5">Service : </span>
                <span th:text="${affectation.service.nom}"></span><br>
                <span class="fw-bold mx-5">prix : </span>
                <span th:text="${affectation.service.prix}"></span><br>
                <span class="fw-bold mx-5">Commentaire : </span>
                <span th:text="${affectation.commentaire}"></span>
            </p>

            <p>
                <span class="fw-bold mx-5">Nom du patient : </span>
                <span th:text="${affectation.dossier.patient.nom}"></span><br>
                <span class="fw-bold mx-5">Prenom : </span>
                <span th:text="${affectation.dossier.patient.prenom}"></span><br>
                <span class="fw-bold mx-5">Numero de telephone : </span>
                <span th:text="${affectation.dossier.patient.telephone}"></span><br>
                <span class="fw-bold mx-5">Adresse Mail : </span>
                <span th:text="${affectation.dossier.patient.email}"></span><br>
                <span class="fw-bold mx-5">Sexe du patient : </span>
                <span th:text="${affectation.dossier.patient.sexe == m}? 'masculin' : 'feminin' "> </span><br>
                <span class="fw-bold mx-5">Age du patient : </span>
                <span th:text="${affectation.dossier.patient.age} + 'ans'">Age du patient : </span><br>
                <span class="fw-bold mx-5">Adresse du patient : </span>
                <span th:text=" ${affectation.dossier.patient.adresse}"></span><br>
            </p><br>
        </div>

    </div>

</section>

<script th:src="@{/js/index.js}"></script>

</body>
</html>