<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
<!--    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>-->
    <link rel="stylesheet" th:href="@{css/styl.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{js/jquery-3.3.1.js}"></script>
</head>

<body>

<!-- menu section -->

<section id="menu">
    <div class="logo">
        <img src="" alt="">
        <h2>DoctorSarl</h2>
    </div>

    <div class="items" style="margin-top: 70px;">
        <li>
            <img th:src="@{images/home_24px.png}" alt="" class="i"><a href="#" style="font-size: 22px;">Accueil</a>
        </li>
        <li>
            <img th:src="@{images/dashboard.png}" alt="" class="i"><a href="#" style="font-size: 22px;">Dashboard</a>
        </li>
        <li>
            <img th:src="@{images/patient.png}" alt="" class="i"><a th:href="@{/personnels}" style="font-size: 22px;">Personnel</a>
        </li>
        <li>
            <img th:src="@{images/personal.png}" alt="" class="i"><a th:href="@{/categories}" style="font-size: 22px;">Categorie</a>
        </li>
        <li>
            <img th:src="@{images/help.png}" alt="" class="i"><a th:href="@{/services}" style="font-size: 22px;">Service</a></i>
        </li>
        <li>
            <img th:src="@{images/categorize.png}" alt="" class="i"><a th:href="@{/patients}" style="font-size: 22px;">Patient</a>
        </li>
        <li>
            <img th:src="@{images/documents.png}" alt="" class="i"><a th:href="@{/dossiers}" style="font-size: 22px;">Dossier</a>
        </li>
    </div>
</section>

<!-- interface section -->

<section id="interface">
    <div class="navigation">
        <div class="nav1">
            <div id="menu-btn">
                <img th:src="@{images/menu.png}" alt="" class="i">
            </div>
            <div class="search">
                <a href="#"><img th:src="@{images/search.png}" alt="" class="i"></a>
                <input type="text" placeholder="Search">
            </div>
        </div>

        <!-- profile -->
        <div class="profile">
            <img th:src="@{images/bell.png}" alt="" class="i">
            <img th:src="@{images/administrator.png}" alt="" class="i">
        </div>
    </div>

    <!--    links section-->
    <div class="liens" style="margin: 90px 15px 30px 15px;">
        <button type="button" class="btn btn-outline-success">Ajouter un personnel</button>
    </div>

    <!-- dashboard section -->
    <div class="formulaire text-center" style="margin: 3% 5% 8% 5%;">
        <h1>Liste du personnel medical</h1>

        <a class="h3" th:href="@{/personnel_create}">Ajouter un personnel</a>

        <!--        message apres insertion-->
        <div th:if="${message}" class="alert-success text-center">
            [[${message}]]
        </div>

        <table class="table table-bordered">
            <thead class="table-info">
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>PRENOM</th>
                <th>TELEPHONE</th>
                <th>EMAIL</th>
                <th>ADRESSE</th>
                <th>PROFESSION</th>
                <th>VILLE</th>
                <th>DISPONIBILITE</th>
                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="personnel : ${personnels}">
                <tr>
                    <td>[[${personnel.id}]]</td>
                    <td>[[${personnel.nom}]]</td>
                    <td>[[${personnel.prenom}]]</td>
                    <td>[[${personnel.telephone}]]</td>
                    <td>[[${personnel.email}]]</td>
                    <td>[[${personnel.adresse}]]</td>
                    <td>[[${personnel.profession}]]</td>
                    <td>[[${personnel.ville}]]</td>
                    <td>[[${personnel.disponibilite}]]</td>
                    <td colspan="2">
                        <a class="h4" th:href="@{'/personnel_create/' + ${personnel.id}}">Editer</a>
                        <a class="h4" th:href="@{'/personnel_edit/' + ${personnel.id}}">Suprimer</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</section>

<script th:src="@{js/index.js}"></script>

</body>
</html>