
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  background: lightgray;
  position: relative;
  display: flex;
}

/* menu section */
#menu{
  background: #111827;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#menu img{
  margin-right: 30px;
}

#menu .logo{
  text-align: center;
  margin: 10px auto;
}
#menu .online{
  display: flex;
  justify-content: flex-end;
  margin: 30px 50px 0 25px;
}
#menu .online .span{
  color: grey;
  margin-right: 10px;
}
#menu .online .green{
  width: 15px;
  height: 15px;
  background: #2b8b43;
  border-radius: 50%;
}

#menu .logo h2{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

#menu .items{
  margin-top: 50px;
}

#menu .items ul{
  line-height: 30px;
  margin-left: 0px;
}

#menu .items ul li{
  margin-left: -30px;
  padding: 15px 0;
  transition: 0.3s ease;
}

#menu .items ul li a{
  display: flex;
  text-decoration: none;
  color: rgb(134, 141, 151);;
  font-size: 22px;
  font-weight: 900;
  /*margin-top: 10px;*/
  transition: 0.3s ease;
}

#menu .items ul li a img{
  color: rgb(134, 141, 151);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}

#menu .items ul li a:hover{
  background: #253047;
  color: #f3f4f6;
  font-size: 24px;
  padding: 10px;
}

#menu .items ul li:hover{
  background: #253047;
  cursor: pointer;
  border-left: 5px solid rgb(134, 141, 151);
}

/*#menu .items ul li{*/
/*  list-style: none;*/
/*  !*padding: 15px 0;*!*/
/*  transition: 0.3s ease;*/
/*}*/

/*#menu .items li a{*/
/*  text-decoration: none;*/
/*  color: rgb(134, 141, 151);*/
/*  font-size: 20px;*/
/*  font-weight: 900;*/
/*  transition: 0.3s ease;*/
/*}*/


/*#menu .items li:nth-child(1) {*/
/*    border-left: 4px solid #fff;*/
/*}*/

/*#menu .items li:hover{*/
/*  background: #253047;*/
/*  cursor: pointer;*/
/*}*/

/*#menu .items li:hover .i,*/
/*#menu .items li:hover a{*/
/*  color: #f3f4f6;*/
/*}*/


/* interface */

#interface{
  width: calc(100% - 300px); /* 100% de la page pour l'interface - la largeur du menu menu*/
  margin-left: 300px;
}

.nav1 {
  display: flex;
  justify-content: flex-start;
  align-items:center;
}

#menu-btn{
  display: none;
  color: #2b2b2b;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

#interface .navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 5px 30px;
  border-bottom: 3px solid #594ef7;
  position: fixed;
  width: calc(100% - 300px);
}

#interface .navigation .search img{
  width: 70px;
  height: 70px;
}

/*#interface .navigation .search .i{*/
/*  margin-right: 14px;*/
/*}*/

/*#interface .navigation .search input{*/
/*  border: none;*/
/*  outline: none;*/
/*  font-size: 14px;*/
/*}*/

#interface .navigation .profile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#interface .navigation .profile .i {
  margin-right: 20px;
  font-size: 19px;
  font-weight: 400;
}

#interface .navigation .profile img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

#interface .navigation .profile ul{
  margin-top: 15px;
}

#logout{
  cursor: pointer;
}

#interface .navigation .profile #decon{
  display: none;
  position: absolute;
  z-index: 1000;
  top: 60px;
  right: 25px;
  padding-right: 25px;
  background: aliceblue;
}

#interface .navigation .profile #decon ul li{
  list-style-type: none;
}
#interface .navigation .profile #decon ul li a{
  text-decoration: none;
  color: red;
}

#interface .navigation .profile #decon.show{
  display: block;
}

/*table section*/
#dispo{
  cursor: pointer;
}


/*count section */
.name{
  color: #444a53;
  padding: 30px 30px 0 30px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 70px;
}

.values{
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.values .val-box{
  background: #fff;
  width: 235px;
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.values .val-box .i {
  font-size: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #253047;
  margin-right: 15px;
}

.values .val-box h3{
  font-size: 18px;
  font-weight: 600;
}

.values .val-box span{
  font-size: 15px;
  color: #828997;
}

.values .val-box:nth-child(1) .i{
  background: #7b74ac;
}

.values .val-box:nth-child(2) .i{
  background: #5c8af0;
}

.values .val-box:nth-child(3) .i{
  background: #e45d99;
}

.values .val-box:nth-child(4) .i{
  background: #74daec;
}

/* boad section */

.board{
  width: 94%;
  margin: 30px 0 30px 30px;
  overflow: auto;
  background: #fff;
  border-radius: 8px;
}

/*.board img{*/
/*  width: 45px;*/
/*  height: 45px;*/
/*  object-fit: cover;*/
/*  border-radius: 50%;*/
/*  margin-right: 15px;*/
/*}*/

.board h5{
  font-weight: 600;
  font-size: 14px;
}

/*.board p{*/
/*  font-weight: 400;*/
/*  font-size: 12px;*/
/*  color: #787d8d;*/
/*}*/

/*.board .personal{*/
/*  display: flex;*/
/*  justify-content: flex-start;*/
/*  align-items: center;*/
/*  text-align: start;*/
/*}*/

table {
  border-collapse: collapse;
}

table tr{
  border-bottom: 1px solid black;
}

thead th{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background: #f9fafb;
  /*text-align: start;*/
  padding: 5px;
}

tbody tr td{
  padding: 10px 15px;
}
tbody tr{
  border-bottom: 1px solid grey;
}

tbody tr td a{
  text-decoration: none;
  color: black;
}

.infos{
  display: flex;
  justify-content: space-between;
}

/*form section*/



/*.active p{*/
/*  background: #d7fada;*/
/*  padding: 2px 10px;*/
/*  display: inline-block;*/
/*  border-radius: 40px;*/
/*  color: #2b2b2b;*/
/*  cursor: pointer;*/
/*}*/

/*.edit a{*/
/*  text-decoration: none;*/
/*  font-size: 14px;*/
/*  color: #2b8b43;*/
/*  font-weight: 600;*/
/*}*/

/*.delete a{*/
/*  text-decoration: none;*/
/*  font-size: 14px;*/
/*  color: #f03e3e;*/
/*  font-weight: 600;*/
/*}*/


/*login section*/

/*.formulair .image{*/
/*  height: 600px;*/
/*}*/
/*.formulair .image img{*/
/*  width: 75%;*/
/*  height: 100%;*/
/*  border-radius: 40%;*/
/*  margin-left: 70px;*/

/*}*/
.formu{
  width: 100%;
  background: url("static/images/serv3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.formu form{
  border: 1px solid grey;
  border-radius: 20%;
  line-height: 70px;
  padding: 20px 30px;
  width: 300px;
  margin: auto;
  margin-top: 200px;
  text-align: center;
  background: white;
  box-shadow: 2px 2px 25px grey;
}
.formu form .input{
  border: none;
  border-radius: 15px;
  padding: 10px;
  outline: none;
  box-shadow: 2px 2px 6px darkgrey;
}
.formu form .btn{
  background: rgb(59, 59, 236);
  padding: 5px 10px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 15px;
  color: white;
}

.formu form h2{
  color: black;
  font-weight: 700;
}


/*etat dossier section*/

.refresh-dossier{
  cursor: pointer;
}
.etat-serv{
  display: none;
  transition: 0.3s ease;
}

/*.etat-serv-float{*/
/*  display: flex;*/
/*  justify-content: flex-end;*/
/*}*/

/*.etat-serv a{*/
/*  font-weight: 900;*/
/*  font-size: 20px;*/
/*  color: #0c0c0c;*/
/*  text-decoration: none;*/
/*}*/

.etat-serv.active_dossier{
  display: block;
  transition: 0.3s ease;
  background: lightgrey;
}

.etat-serv a:hover{
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  margin-bottom: 5px;
  border-bottom: 5px solid wheat;
  color: black;
}





@media (max-width: 769px) {
  #menu {
    width: 250px;
    position: fixed;
    left: -270px;
    transition: 00.3s ease;
  }

  #menu-btn{
    display: initial;
  }

  #menu.active{
    left: 0px;
  }

  #menu.active~#interface{
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: 00.3s ease;
  }

  #interface {
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    transition: 00.3s ease;
  }

  #interface .navigation {
    width: 100%;
  }

  .values {
    padding: 30px 30px 0 30px;
    justify-content: flex-start;
  }

  .values .val-box {
    padding: 16px 20px;
    margin: 10px 20px 10px 0;
    width: 46%;
  }

}


@media (max-width: 447px) {

  #interface .navigation {
    padding: 15px;
  }

  #interface .navigation .search input {
    width: 150px;
  }

  .name {
    padding: 30px 15px 0 15px;
  }

  .values {
    padding: 30px 15px 0 15px;
  }

  .values .val-box {
    width: 100%;
    margin: 8px 0;
  }

  .board {
    margin: 30px 0 15px 15px;
  }

}


