<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@/css/index.css">
</head>
<body>

    <div class="container-fluid py-3 px-5" th:fragment="nav">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo">
                    <a href="#">DOCTORS-AT-HOME</a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="menu-option">
                    <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                <div class="navbar-nav mx-5">
                                    <a class="nav-link mx-5" aria-current="page" href="#">Accueil</a>
                                    <a class="nav-link mx-5" href="#">A propos</a>
                                    <a class="nav-link mx-5" href="#">Services</a>
                                    <a class="nav-link mx-5" href="#">Contact</a>
                                </div>
                                <div class="btn">
                                    <a th:href="@{/register}" class="btn btn-primary">Demander service</a>
                                    <a th:href="@{/login}" class="btn btn-success">Se connecter</a>
                                </div>
                            </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</body>
</html>