<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/styl.css}" >
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
</head>

<body>

<!-- menu section -->

<section id="menu">
    <div class="logo">
        <img src="" alt="">
        <h2>DOCTORS-AT-HOME</h2>
        <div class="online">
            <span class="span" th:text="${#request.userPrincipal.principal.fullName}"></span>
            <span class="green"></span>
        </div>
    </div>

    <div class="items" style="margin-top: 70px;">

        <ul>
            <li>
                <a th:href="@{/user/dashuser}">
                    <img th:src="@{/images/dashboard.png}" alt="">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a th:href="@{/user/personnels}">
                    <img th:src="@{/images/patient.png}" alt="">
                    <span>Personnel</span>
                </a>
            </li>
            <li>
                <a th:href="@{/user/patients}">
                    <img th:src="@{/images/personal.png}" alt="">
                    <span>Patient</span>
                </a>
            </li>
            <li>
                <a th:href="@{/user/dossiers}">
                    <img th:src="@{/images/folder0.png}" alt="">
                    <span>Dossier</span>
                </a>
            </li>
            <li>
                <a th:href="@{/user/affectations}">
                    <img th:src="@{/images/documents.png}" alt="">
                    <span>Affectation</span>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- interface section -->

<section id="interface">
    <div class="navigation">
        <div class="nav1">
            <div id="menu-btn">
                <img th:src="@{/images/menu.png}" alt="" class="i">
            </div>
            <div class="search">
                <img th:src="@{/images/melodis.jpg}" alt="">
                <!--                <input type="text" placeholder="Search">-->
            </div>
        </div>

        <!-- profile -->
        <div class="profile">
            <img th:src="@{/images/bell.png}" alt="" class="i">
            <img id="logout" th:src="@{/images/administrator.png}" alt="" class="i">
            <div id="decon">
                <ul>
                    <li th:text="${#request.userPrincipal.principal.fullName}"></li>
                    <li class="dropdown-divider"></li>
                    <form class="my-lg-0" method="post" th:action="@{/logout}">
                        <input type="submit" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" value="Deconexion">
                    </form>
                </ul>
            </div>
        </div>
    </div>

    <!-- dashboard section -->

    <h3 class="name">
        <!--    links section-->
        <div class="liens">
            <a th:href="@{/user/patient_create}" class="btn btn-primary btn-lg " tabindex="-1" role="button" >
                <img th:src="@{/images/plus.png}"> Ajouter un patient
            </a>
        </div>
    </h3>

    <div class="text-center">
        <h2>Liste des patients</h2>
    </div>

    <!--        message apres insertion-->
    <div th:if="${message} " class="alert-success text-center my-5">
        <script>
            swal({
                icon: "success",
            });
        </script>
    </div>

    <div class="board">
        <table id="dashboardTable" class="display text-center" width="100%">
            <thead >
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>PRENOM</th>
                <th>TELEPHONE</th>
                <th>EMAIL</th>
                <th>ADRESSE</th>
                <th>SEXE</th>
                <th>AGE</th>
                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="patient : ${patients}">
                <tr>
                    <td th:text="${patient.id}"></td>
                    <td>
                        <a th:href="@{'/user/patient_show/' + ${patient.id}}" th:text="${patient.nom}"></a>
                    </td>
                    <td th:text="${patient.prenom}"></td>
                    <td th:text="${patient.telephone}"></td>
                    <td th:text="${patient.email}"></td>
                    <td th:text="${patient.adresse}"></td>
                    <td th:text="${patient.sexe}"></td>
                    <td th:text="${patient.age}"></td>
                    <td>
                        <a th:href="@{'/user/patient_edit/' + ${patient.id}}" style="margin-right: 15%;">
                            <img th:src="@{/images/edit.png}" alt="editer" title="modifier">
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>

<script th:src="@{/js/index.js}"></script>

</body>
</html>

